flask
imgurpython
keras
numpy
requests
matplotlib
flask-cors
https://download.lfd.uci.edu/pythonlibs/w3jqiv8s/GDAL-3.1.2-cp37-cp37m-win32.whl
https://download.lfd.uci.edu/pythonlibs/w3jqiv8s/Fiona-1.8.13-cp37-cp37m-win32.whl
https://download.lfd.uci.edu/pythonlibs/w3jqiv8s/rasterio-1.1.5-cp37-cp37m-win32.whl
tensorflow
